       body,
        html {
            height: 100%;
            width: 100%;
        }
        
        #map {
            width: 100%;
            height: 76%;
            background-color: aqua
        }