<!DOCTYPE html>
<html lang="es">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Comentarios</title>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="../css/materialize.min.css" media="screen,projection" />
      <link rel="stylesheet" href="../css/comentarios.css">
      <link rel="stylesheet" href="../css/main.css">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
  </head>
  <body>
    <header class="navbar-fixed">
      <nav class="pink darken-4">
        <i class="medium material-icons white-text dropdown-button col s1" data-activates="opcsMenu">
          menu
        </i>
        <!-- Opciones menu -->
        <ul id="opcsMenu" class="dropdown-content">
          <li><a href=""><i class="material-icons pink-text text-darken-4">menu</i></a></li>
          <li><a href="" id="config_alerta"><i class="material-icons pink-text text-darken-4">add_alert</i>Alertas</a></li>
          <li><a href="mapa.html"><i class="material-icons pink-text text-darken-4">warning</i>Mapa Zonas Rojas</a></li>
          <li><a href="comentarios.html"><i class="material-icons pink-text text-darken-4">announcement</i>Comentarios</a></li>
          <li><a href="directorio.html"><i class="material-icons pink-text text-darken-4">contact_phone</i>Directorio</a></li>
          <li><a href="" id="acerca_de"><i class="material-icons pink-text text-darken-4">info</i>Acerca de</a></li>
        </ul>
        <!-- LOGO  -->
        <div class="">
          <div class="logo">
            <img src="../assets/img/alertate_logo_blanco.png" alt="logo" class="">
          </div>
        </div>
      </nav>
    </header>
    <section id="formulario-comentarios">
      <div class="container col s12">
        <div class="row">
          <h3>Comentarios</h3>
          <form id="comentarios">
            <!-- Nombre -->
            <div class="input-field col s12">
              <input id="icon_prefix" type="text" class="validate">
              <label for="icon_prefix">First Name</label>
            </div>
            <div class="tipos-acoso col s12">
              <span>Tipo de acoso</span>
              <!-- Checks -->
              <span>
                <input name="group1" type="radio" id="test1" />
                <label for="test1">Verbal</label>

                <input name="group1" type="radio" id="test2" />
                <label for="test2">Físico</label>
              </span>
            </div>
            <!-- Textarea -->
            <div class="input-field col s12">
              <textarea id="textarea1" class="materialize-textarea"></textarea>
              <label for="textarea1">Escribe aquí tu mensaje.</label>
            </div>
            <!-- Cargando archivos -->
            <section id="carga-archivos" class="col s12">
              <form action="#">
                <div class="file-field input-field">
                  <div class="btn">
                    <span>Foto</span>
                    <input type="file">
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                  </div>
                </div>
              </form>
            </section>
            <div class="container boton-enviar">
              <div class="row">
                <button id="enviar" class="btn waves-effect waves-light" type="submit" name="action">Enviar
                  <i class="material-icons right">send</i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
    <!-- Comentarios Domi -->
    <section id="aqui-comentarios">

    </section>
    <section class="container">
      <div class="comentario-domi">
        <h6>Yesenia</h6>
        <p>Verbal</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </div>
      <div class="comentario-domi">
        <h6>Yesenia</h6>
        <p>Verbal</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </div>
    </section>

    <section class="ver-mas">
      <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
    </section>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert-dev.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert-dev.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/comentarios.js"></script>
  </body>
</html>
